USE [master]
GO
/****** Object:  Database [Structal_Q_platform]    Script Date: 4/24/2026 9:02:06 AM ******/
CREATE DATABASE [Structal_Q_platform]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Structal_Q_platform', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Structal_Q_platform.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Structal_Q_platform_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Structal_Q_platform_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Structal_Q_platform].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Structal_Q_platform]
GO
/****** Object:  User [structa_user]    Script Date: 4/24/2026 9:02:06 AM ******/
CREATE USER [structa_user] FOR LOGIN [structa_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ai_question_score]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_question_score](
	[ai_q_score_id] [bigint] IDENTITY(1,1) NOT NULL,
	[analysis_result_id] [bigint] NOT NULL,
	[question_id] [bigint] NOT NULL,
	[keyword_matches] [nvarchar](max) NULL,
	[keyword_score] [decimal](10, 4) NULL,
	[semantic_score] [decimal](10, 4) NULL,
	[suggested_marks] [decimal](10, 2) NULL,
	[confidence] [decimal](10, 4) NULL,
	[missing_keywords] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ai_q_score_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_rubric_score]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_rubric_score](
	[ai_rubric_score_id] [bigint] IDENTITY(1,1) NOT NULL,
	[analysis_result_id] [bigint] NOT NULL,
	[rubric_item_id] [bigint] NOT NULL,
	[suggested_marks] [decimal](10, 2) NULL,
	[confidence] [decimal](10, 4) NULL,
	[evidence_excerpt] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ai_rubric_score_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[analysis_result]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[analysis_result](
	[analysis_result_id] [bigint] IDENTITY(1,1) NOT NULL,
	[submission_id] [bigint] NOT NULL,
	[marking_guide_id] [bigint] NOT NULL,
	[analysis_type] [nvarchar](255) NULL,
	[similarity_max] [decimal](10, 4) NULL,
	[similarity_avg] [decimal](10, 4) NULL,
	[structural_similarity_avg] [decimal](10, 4) NULL,
	[missing_sections] [nvarchar](max) NULL,
	[risk_score] [decimal](10, 4) NULL,
	[risk_level] [nvarchar](50) NULL,
	[ocr_used] [bit] NULL,
	[cv_used] [bit] NULL,
	[started_at] [datetime] NULL,
	[completed_at] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[manual_marks] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[analysis_result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[analysis_similarity_detail]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[analysis_similarity_detail](
	[similarity_detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[analysis_result_id] [bigint] NOT NULL,
	[compared_submission_id] [bigint] NOT NULL,
	[semantic_similarity] [decimal](10, 4) NULL,
	[structural_similarity] [decimal](10, 4) NULL,
	[cluster_id] [bigint] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[similarity_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[assessment]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assessment](
	[assessment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[offering_id] [bigint] NOT NULL,
	[assessment_title] [nvarchar](255) NULL,
	[assessment_type] [nvarchar](50) NULL,
	[total_marks] [decimal](10, 2) NULL,
	[start_date] [datetime] NULL,
	[due_date] [datetime] NULL,
	[allow_resubmission] [bit] NULL,
	[max_resubmissions] [int] NULL,
	[late_policy_enabled] [bit] NULL,
	[grace_minutes] [int] NULL,
	[requires_ai_analysis] [bit] NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[concern_window_open] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[assessment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[audit_id] [bigint] IDENTITY(1,1) NOT NULL,
	[actor_user_id] [bigint] NOT NULL,
	[action_type] [nvarchar](255) NULL,
	[entity_name] [nvarchar](255) NULL,
	[entity_id] [nvarchar](255) NULL,
	[old_value_json] [nvarchar](max) NULL,
	[new_value_json] [nvarchar](max) NULL,
	[ip_address] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[concern_window]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[concern_window](
	[concern_window_id] [bigint] IDENTITY(1,1) NOT NULL,
	[assessment_id] [bigint] NOT NULL,
	[opens_at] [datetime] NULL,
	[closes_at] [datetime] NULL,
	[duration_hours] [int] NULL,
	[auto_close_enabled] [bit] NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[concern_window_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diagram_check_result]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diagram_check_result](
	[diagram_check_id] [bigint] IDENTITY(1,1) NOT NULL,
	[analysis_result_id] [bigint] NOT NULL,
	[diagram_type] [nvarchar](50) NULL,
	[page_no] [int] NULL,
	[detected_labels] [nvarchar](max) NULL,
	[expected_labels] [nvarchar](max) NULL,
	[match_score] [decimal](10, 4) NULL,
	[issues] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_check_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluated_results]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluated_results](
	[evaluation_id] [bigint] IDENTITY(1,1) NOT NULL,
	[submission_id] [bigint] NOT NULL,
	[ai_marks] [decimal](10, 2) NULL,
	[diagram_marks] [decimal](10, 2) NULL,
	[final_mark] [decimal](10, 2) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[evaluation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluation_conflict_log]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluation_conflict_log](
	[conflict_id] [bigint] IDENTITY(1,1) NOT NULL,
	[evaluation_schedule_id] [bigint] NOT NULL,
	[conflict_type] [nvarchar](255) NULL,
	[conflict_description] [nvarchar](max) NULL,
	[detected_at] [datetime] NULL,
	[resolved] [bit] NULL,
	[resolved_by] [bigint] NULL,
	[resolved_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[conflict_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluation_email_log]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluation_email_log](
	[email_log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[evaluation_schedule_id] [bigint] NOT NULL,
	[recipient_user_id] [bigint] NOT NULL,
	[email_type] [nvarchar](255) NULL,
	[sent_at] [datetime] NULL,
	[delivery_status] [nvarchar](50) NULL,
	[retry_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[email_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluation_group_assignment]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluation_group_assignment](
	[assignment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[evaluation_slot_id] [bigint] NOT NULL,
	[group_id] [nvarchar](255) NULL,
	[assigned_by] [bigint] NOT NULL,
	[assigned_at] [datetime] NULL,
	[attendance_status] [nvarchar](50) NULL,
	[evaluation_completed] [bit] NULL,
	[remarks] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluation_location]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluation_location](
	[location_id] [bigint] IDENTITY(1,1) NOT NULL,
	[location_name] [nvarchar](255) NULL,
	[building_name] [nvarchar](255) NULL,
	[room_number] [nvarchar](255) NULL,
	[capacity] [int] NULL,
	[available_from] [time](7) NULL,
	[available_to] [time](7) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluation_schedule]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluation_schedule](
	[evaluation_schedule_id] [bigint] IDENTITY(1,1) NOT NULL,
	[assessment_id] [bigint] NOT NULL,
	[location_id] [bigint] NOT NULL,
	[schedule_title] [nvarchar](255) NULL,
	[date] [date] NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[duration_per_group_minutes] [int] NULL,
	[buffer_minutes] [int] NULL,
	[total_groups] [int] NULL,
	[is_published] [bit] NULL,
	[published_at] [datetime] NULL,
	[published_by] [bigint] NULL,
	[draft_version_no] [int] NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[evaluation_schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluation_slot]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluation_slot](
	[evaluation_slot_id] [bigint] IDENTITY(1,1) NOT NULL,
	[evaluation_schedule_id] [bigint] NOT NULL,
	[slot_sequence_no] [int] NULL,
	[slot_start_time] [time](7) NULL,
	[slot_end_time] [time](7) NULL,
	[buffer_applied] [bit] NULL,
	[slot_status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[evaluation_slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_capacity_tracking]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_capacity_tracking](
	[capacity_id] [bigint] IDENTITY(1,1) NOT NULL,
	[exam_session_id] [bigint] NOT NULL,
	[room_id] [bigint] NOT NULL,
	[allocated_students] [int] NULL,
	[remaining_capacity] [int] NULL,
	[capacity_validated] [bit] NULL,
	[validated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[capacity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_conflict_log]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_conflict_log](
	[conflict_id] [bigint] IDENTITY(1,1) NOT NULL,
	[exam_session_id] [bigint] NOT NULL,
	[conflict_type] [nvarchar](255) NULL,
	[conflict_description] [nvarchar](max) NULL,
	[detected_at] [datetime] NULL,
	[resolved] [bit] NULL,
	[resolved_by] [bigint] NULL,
	[resolved_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[conflict_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_notification_log]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_notification_log](
	[notification_id] [bigint] IDENTITY(1,1) NOT NULL,
	[exam_session_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[notification_type] [nvarchar](255) NULL,
	[sent_at] [datetime] NULL,
	[delivery_status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_room]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_room](
	[room_id] [bigint] IDENTITY(1,1) NOT NULL,
	[room_name] [nvarchar](255) NULL,
	[building] [nvarchar](255) NULL,
	[floor] [nvarchar](255) NULL,
	[capacity] [int] NULL,
	[has_projector] [bit] NULL,
	[has_ac] [bit] NULL,
	[is_available] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_session]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_session](
	[exam_session_id] [bigint] IDENTITY(1,1) NOT NULL,
	[exam_timetable_id] [bigint] NOT NULL,
	[subject_id] [bigint] NOT NULL,
	[room_id] [bigint] NOT NULL,
	[exam_type] [nvarchar](50) NULL,
	[exam_date] [date] NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[duration_minutes] [int] NULL,
	[buffer_minutes] [int] NULL,
	[expected_students_count] [int] NULL,
	[session_status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[exam_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_timetable]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_timetable](
	[exam_timetable_id] [bigint] IDENTITY(1,1) NOT NULL,
	[academic_year] [nvarchar](255) NULL,
	[semester] [nvarchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[draft_version_no] [int] NULL,
	[is_published] [bit] NULL,
	[published_at] [datetime] NULL,
	[published_by] [bigint] NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[timetable_type] [nvarchar](50) NULL,
	[section_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[exam_timetable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[file_storage]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[file_storage](
	[file_id] [bigint] IDENTITY(1,1) NOT NULL,
	[original_file_name] [nvarchar](255) NULL,
	[stored_file_name] [nvarchar](255) NULL,
	[storage_category] [nvarchar](50) NULL,
	[storage_path] [nvarchar](512) NULL,
	[mime_type] [nvarchar](255) NULL,
	[file_size_bytes] [bigint] NULL,
	[sha256_hash] [nvarchar](255) NULL,
	[upload_user_id] [bigint] NOT NULL,
	[uploaded_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[final_mark]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[final_mark](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[final_mark_id] [varchar](50) NULL,
	[submission_id] [bigint] NOT NULL,
	[student_id] [bigint] NOT NULL,
	[ai_marks] [decimal](5, 2) NULL,
	[diagram_marks] [decimal](5, 2) NULL,
	[total_marks_awarded] [decimal](5, 2) NULL,
	[marking_status] [varchar](20) NULL,
	[published_at] [datetime] NULL,
	[published_by] [varchar](255) NOT NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [varchar](255) NULL,
	[concern_window_open] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group_member]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_member](
	[group_member_id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [bigint] NOT NULL,
	[student_id] [bigint] NOT NULL,
	[role_in_group] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guide_question]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guide_question](
	[question_id] [bigint] IDENTITY(1,1) NOT NULL,
	[marking_guide_id] [bigint] NOT NULL,
	[question_no] [int] NULL,
	[question_text] [nvarchar](max) NULL,
	[max_marks] [decimal](10, 2) NULL,
	[model_answer_text] [nvarchar](max) NULL,
	[keyword_weight] [decimal](10, 4) NULL,
	[semantic_weight] [decimal](10, 4) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guide_rubric_item]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guide_rubric_item](
	[rubric_item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[marking_guide_id] [bigint] NOT NULL,
	[criterion_name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[max_marks] [decimal](10, 2) NULL,
	[weight] [decimal](10, 4) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[rubric_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guide_section_rule]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guide_section_rule](
	[section_rule_id] [bigint] IDENTITY(1,1) NOT NULL,
	[marking_guide_id] [bigint] NOT NULL,
	[section_name] [nvarchar](255) NULL,
	[is_mandatory] [bit] NULL,
	[expected_order] [int] NULL,
	[min_words] [int] NULL,
	[max_words] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[section_rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mark_alert]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mark_alert](
	[alert_id] [bigint] IDENTITY(1,1) NOT NULL,
	[submission_id] [bigint] NOT NULL,
	[alert_type] [nvarchar](50) NULL,
	[severity] [nvarchar](50) NULL,
	[message] [nvarchar](max) NULL,
	[acknowledged] [bit] NULL,
	[acknowledged_by] [bigint] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[alert_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mark_comparison]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mark_comparison](
	[comparison_id] [int] IDENTITY(1,1) NOT NULL,
	[submission_id] [bigint] NULL,
	[ai_score] [decimal](5, 2) NULL,
	[lecturer_score] [decimal](5, 2) NULL,
	[deviation] [decimal](5, 2) NULL,
	[deviation_percentage] [decimal](5, 2) NULL,
	[risk_level] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[is_anomaly] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[comparison_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mark_concern]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mark_concern](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[concern_id] [varchar](20) NULL,
	[student_id] [bigint] NOT NULL,
	[student_name] [varchar](255) NOT NULL,
	[student_email] [varchar](255) NOT NULL,
	[academic_year] [varchar](100) NOT NULL,
	[submission_id] [bigint] NOT NULL,
	[concern_message] [nvarchar](max) NOT NULL,
	[priority_level] [varchar](10) NULL,
	[concern_status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[last_modified] [datetime] NULL,
	[revised_by] [varchar](255) NULL,
	[revised_on] [datetime] NULL,
	[lecturer_comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mark_revision_log]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mark_revision_log](
	[revision_id] [bigint] IDENTITY(1,1) NOT NULL,
	[submission_id] [bigint] NOT NULL,
	[lecturer_name] [varchar](255) NOT NULL,
	[old_mark] [decimal](10, 2) NULL,
	[new_mark] [decimal](10, 2) NULL,
	[revision_reason] [nvarchar](max) NULL,
	[revised_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[revision_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marking_guide]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marking_guide](
	[marking_guide_id] [bigint] IDENTITY(1,1) NOT NULL,
	[assessment_id] [bigint] NOT NULL,
	[version_no] [int] NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[order_sensitive] [bit] NULL,
	[requires_diagram_check] [bit] NULL,
	[diagram_types_expected] [nvarchar](max) NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[file_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[marking_guide_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[notification_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ocr_page_result]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocr_page_result](
	[ocr_id] [bigint] IDENTITY(1,1) NOT NULL,
	[analysis_result_id] [bigint] NOT NULL,
	[page_no] [int] NULL,
	[ocr_text] [nvarchar](max) NULL,
	[ocr_confidence] [decimal](10, 4) NULL,
	[has_diagram] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ocr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_keyword]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_keyword](
	[keyword_id] [bigint] IDENTITY(1,1) NOT NULL,
	[question_id] [bigint] NOT NULL,
	[keyword_text] [nvarchar](255) NULL,
	[marks_weight] [decimal](10, 4) NULL,
	[is_mandatory] [bit] NULL,
	[match_type] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[keyword_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_group]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_group](
	[group_id] [bigint] IDENTITY(1,1) NOT NULL,
	[assessment_id] [bigint] NOT NULL,
	[group_name] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subject]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subject](
	[subject_id] [bigint] IDENTITY(1,1) NOT NULL,
	[subject_code] [nvarchar](255) NULL,
	[subject_name] [nvarchar](255) NULL,
	[credit_value] [int] NULL,
	[department] [nvarchar](255) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subject_offering]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subject_offering](
	[offering_id] [bigint] IDENTITY(1,1) NOT NULL,
	[subject_id] [bigint] NOT NULL,
	[academic_year] [nvarchar](255) NULL,
	[semester] [nvarchar](255) NULL,
	[intake_name] [nvarchar](255) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[offering_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[submission]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[submission](
	[submission_id] [bigint] IDENTITY(1,1) NOT NULL,
	[assessment_id] [bigint] NOT NULL,
	[student_id] [bigint] NOT NULL,
	[attempt_no] [int] NULL,
	[submitted_at] [datetime] NULL,
	[is_late] [bit] NULL,
	[late_minutes] [int] NULL,
	[file_id] [bigint] NOT NULL,
	[integrity_hash] [nvarchar](255) NULL,
	[submission_status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[submission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/24/2026 9:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](255) NULL,
	[last_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NULL,
	[role] [nvarchar](50) NOT NULL,
	[registration_no] [nvarchar](255) NULL,
	[program_id] [bigint] NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[last_login_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ai_question_score] ON 

INSERT [dbo].[ai_question_score] ([ai_q_score_id], [analysis_result_id], [question_id], [keyword_matches], [keyword_score], [semantic_score], [suggested_marks], [confidence], [missing_keywords], [created_at]) VALUES (2, 9, 1, N'[]', CAST(0.1500 AS Decimal(10, 4)), CAST(0.3853 AS Decimal(10, 4)), CAST(15.00 AS Decimal(10, 2)), CAST(0.7830 AS Decimal(10, 4)), N'[]', CAST(N'2026-03-31T18:48:33.773' AS DateTime))
INSERT [dbo].[ai_question_score] ([ai_q_score_id], [analysis_result_id], [question_id], [keyword_matches], [keyword_score], [semantic_score], [suggested_marks], [confidence], [missing_keywords], [created_at]) VALUES (3, 9, 2, N'[]', CAST(0.2400 AS Decimal(10, 4)), CAST(0.3853 AS Decimal(10, 4)), CAST(24.00 AS Decimal(10, 2)), CAST(0.7830 AS Decimal(10, 4)), N'[]', CAST(N'2026-03-31T18:48:33.777' AS DateTime))
INSERT [dbo].[ai_question_score] ([ai_q_score_id], [analysis_result_id], [question_id], [keyword_matches], [keyword_score], [semantic_score], [suggested_marks], [confidence], [missing_keywords], [created_at]) VALUES (4, 9, 3, N'[]', CAST(0.2000 AS Decimal(10, 4)), CAST(0.3853 AS Decimal(10, 4)), CAST(20.00 AS Decimal(10, 2)), CAST(0.7830 AS Decimal(10, 4)), N'[]', CAST(N'2026-03-31T18:48:33.780' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ai_question_score] OFF
GO
SET IDENTITY_INSERT [dbo].[ai_rubric_score] ON 

INSERT [dbo].[ai_rubric_score] ([ai_rubric_score_id], [analysis_result_id], [rubric_item_id], [suggested_marks], [confidence], [evidence_excerpt], [created_at]) VALUES (2, 11, 1, CAST(6.30 AS Decimal(10, 2)), CAST(0.8000 AS Decimal(10, 4)), N'Structure similarity analysis', CAST(N'2026-04-01T13:54:24.833' AS DateTime))
INSERT [dbo].[ai_rubric_score] ([ai_rubric_score_id], [analysis_result_id], [rubric_item_id], [suggested_marks], [confidence], [evidence_excerpt], [created_at]) VALUES (3, 11, 2, CAST(3.85 AS Decimal(10, 2)), CAST(0.7500 AS Decimal(10, 4)), N'Semantic similarity evaluation', CAST(N'2026-04-01T13:54:24.840' AS DateTime))
INSERT [dbo].[ai_rubric_score] ([ai_rubric_score_id], [analysis_result_id], [rubric_item_id], [suggested_marks], [confidence], [evidence_excerpt], [created_at]) VALUES (4, 11, 3, CAST(0.00 AS Decimal(10, 2)), CAST(0.7000 AS Decimal(10, 4)), N'Diagram validation score', CAST(N'2026-04-01T13:54:24.847' AS DateTime))
SET IDENTITY_INSERT [dbo].[ai_rubric_score] OFF
GO
SET IDENTITY_INSERT [dbo].[analysis_result] ON 

GO
SET IDENTITY_INSERT [dbo].[analysis_result] OFF
GO
SET IDENTITY_INSERT [dbo].[assessment] ON 

INSERT [dbo].[assessment] ([assessment_id], [offering_id], [assessment_title], [assessment_type], [total_marks], [start_date], [due_date], [allow_resubmission], [max_resubmissions], [late_policy_enabled], [grace_minutes], [requires_ai_analysis], [created_by], [created_at], [updated_at], [status], [concern_window_open]) VALUES (4, 1, N'Lab01', N'COURSEWORK', CAST(100.00 AS Decimal(10, 2)), CAST(N'2026-03-26T23:00:00.000' AS DateTime), CAST(N'2026-04-26T12:59:00.000' AS DateTime), 1, 2, 0, 0, NULL, 3, CAST(N'2026-04-21T15:20:17.690' AS DateTime), NULL, N'ACTIVE', 0)
SET IDENTITY_INSERT [dbo].[assessment] OFF
GO
SET IDENTITY_INSERT [dbo].[diagram_check_result] ON 

INSERT [dbo].[diagram_check_result] ([diagram_check_id], [analysis_result_id], [diagram_type], [page_no], [detected_labels], [expected_labels], [match_score], [issues], [created_at]) VALUES (1, 88, N'ARCH', 2, N'["Database","ARCH"]', N'["ER","UML"]', CAST(0.6540 AS Decimal(10, 4)), N'["Diagram type mismatch (expected: ER, UML)"]', CAST(N'2026-04-16T18:33:15.830' AS DateTime))
INSERT [dbo].[diagram_check_result] ([diagram_check_id], [analysis_result_id], [diagram_type], [page_no], [detected_labels], [expected_labels], [match_score], [issues], [created_at]) VALUES (2, 88, N'ARCH', 5, N'["Frontend","ARCH"]', N'["ER","UML"]', CAST(0.5760 AS Decimal(10, 4)), N'["Diagram type mismatch (expected: ER, UML)"]', CAST(N'2026-04-16T18:33:15.957' AS DateTime))
INSERT [dbo].[diagram_check_result] ([diagram_check_id], [analysis_result_id], [diagram_type], [page_no], [detected_labels], [expected_labels], [match_score], [issues], [created_at]) VALUES (3, 89, N'ARCH', 2, N'["Database","ARCH"]', N'["ER","UML"]', CAST(0.6540 AS Decimal(10, 4)), N'["Diagram type mismatch (expected: ER, UML)"]', CAST(N'2026-04-16T18:55:45.083' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[diagram_check_result] OFF
GO
SET IDENTITY_INSERT [dbo].[evaluated_results] ON 

INSERT [dbo].[evaluated_results] ([evaluation_id], [submission_id], [ai_marks], [diagram_marks], [final_mark], [created_at]) VALUES (1, 2, CAST(38.53 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(44.27 AS Decimal(10, 2)), NULL)
INSERT [dbo].[evaluated_results] ([evaluation_id], [submission_id], [ai_marks], [diagram_marks], [final_mark], [created_at]) VALUES (2, 9, CAST(6.19 AS Decimal(10, 2)), CAST(60.00 AS Decimal(10, 2)), CAST(33.10 AS Decimal(10, 2)), NULL)
INSERT [dbo].[evaluated_results] ([evaluation_id], [submission_id], [ai_marks], [diagram_marks], [final_mark], [created_at]) VALUES (3, 8, CAST(38.93 AS Decimal(10, 2)), CAST(70.00 AS Decimal(10, 2)), CAST(54.47 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[evaluated_results] OFF
GO
SET IDENTITY_INSERT [dbo].[evaluation_location] ON 

INSERT [dbo].[evaluation_location] ([location_id], [location_name], [building_name], [room_number], [capacity], [available_from], [available_to], [status], [created_at]) VALUES (1, N'F blog', N'New Building', N'F1304', 55, CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), N'ACTIVE', NULL)
INSERT [dbo].[evaluation_location] ([location_id], [location_name], [building_name], [room_number], [capacity], [available_from], [available_to], [status], [created_at]) VALUES (2, N'Block A', N'B', N'B-405', 20, CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time), N'ACTIVE', NULL)
SET IDENTITY_INSERT [dbo].[evaluation_location] OFF
GO
SET IDENTITY_INSERT [dbo].[exam_room] ON 

INSERT [dbo].[exam_room] ([room_id], [room_name], [building], [floor], [capacity], [has_projector], [has_ac], [is_available], [created_at]) VALUES (1, N'G401', N'Main bulding', N'2nd floor', NULL, 0, 0, 1, CAST(N'2026-04-21T12:55:32.640' AS DateTime))
INSERT [dbo].[exam_room] ([room_id], [room_name], [building], [floor], [capacity], [has_projector], [has_ac], [is_available], [created_at]) VALUES (2, N'G402', N'Main bulding', NULL, NULL, 0, 0, 1, CAST(N'2026-04-21T14:46:06.513' AS DateTime))
INSERT [dbo].[exam_room] ([room_id], [room_name], [building], [floor], [capacity], [has_projector], [has_ac], [is_available], [created_at]) VALUES (3, N'G406', N'Main bulding', NULL, NULL, 0, 0, 1, CAST(N'2026-04-21T14:50:06.683' AS DateTime))
SET IDENTITY_INSERT [dbo].[exam_room] OFF
GO
SET IDENTITY_INSERT [dbo].[exam_session] ON 

INSERT [dbo].[exam_session] ([exam_session_id], [exam_timetable_id], [subject_id], [room_id], [exam_type], [exam_date], [start_time], [end_time], [duration_minutes], [buffer_minutes], [expected_students_count], [session_status], [created_at], [updated_at]) VALUES (2, 5, 1, 1, NULL, CAST(N'2026-04-28' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), NULL, NULL, 45, NULL, CAST(N'2026-04-21T14:35:39.487' AS DateTime), CAST(N'2026-04-21T14:35:39.487' AS DateTime))
INSERT [dbo].[exam_session] ([exam_session_id], [exam_timetable_id], [subject_id], [room_id], [exam_type], [exam_date], [start_time], [end_time], [duration_minutes], [buffer_minutes], [expected_students_count], [session_status], [created_at], [updated_at]) VALUES (4, 6, 2, 1, NULL, CAST(N'2026-04-23' AS Date), CAST(N'16:45:00' AS Time), CAST(N'18:46:00' AS Time), NULL, NULL, 30, NULL, CAST(N'2026-04-21T14:47:11.117' AS DateTime), CAST(N'2026-04-21T14:49:22.527' AS DateTime))
INSERT [dbo].[exam_session] ([exam_session_id], [exam_timetable_id], [subject_id], [room_id], [exam_type], [exam_date], [start_time], [end_time], [duration_minutes], [buffer_minutes], [expected_students_count], [session_status], [created_at], [updated_at]) VALUES (5, 6, 1, 2, NULL, CAST(N'2026-04-23' AS Date), CAST(N'16:45:00' AS Time), CAST(N'18:46:00' AS Time), NULL, NULL, 30, NULL, CAST(N'2026-04-21T14:48:15.550' AS DateTime), CAST(N'2026-04-21T14:48:28.190' AS DateTime))
SET IDENTITY_INSERT [dbo].[exam_session] OFF
GO
SET IDENTITY_INSERT [dbo].[exam_timetable] ON 

INSERT [dbo].[exam_timetable] ([exam_timetable_id], [academic_year], [semester], [title], [draft_version_no], [is_published], [published_at], [published_by], [created_by], [created_at], [updated_at], [status], [timetable_type], [section_name]) VALUES (5, N'Year 2', N'Second Semester', N'MID - Year 2 - Second Semester - Software Engineering', 1, 1, CAST(N'2026-04-21T14:39:09.030' AS DateTime), 3, 3, CAST(N'2026-04-21T14:34:56.623' AS DateTime), CAST(N'2026-04-21T14:39:09.030' AS DateTime), N'PUBLISHED', N'MID', N'Software Engineering')
INSERT [dbo].[exam_timetable] ([exam_timetable_id], [academic_year], [semester], [title], [draft_version_no], [is_published], [published_at], [published_by], [created_by], [created_at], [updated_at], [status], [timetable_type], [section_name]) VALUES (6, N'Year 1', N'First Semester', N'MID - Year 1 - First Semester - Software Engineer', 1, 0, NULL, NULL, 3, CAST(N'2026-04-21T14:44:58.113' AS DateTime), CAST(N'2026-04-21T14:44:58.113' AS DateTime), N'DRAFT', N'MID', N'Software Engineer')
SET IDENTITY_INSERT [dbo].[exam_timetable] OFF
GO
SET IDENTITY_INSERT [dbo].[file_storage] ON 

INSERT [dbo].[file_storage] ([file_id], [original_file_name], [stored_file_name], [storage_category], [storage_path], [mime_type], [file_size_bytes], [sha256_hash], [upload_user_id], [uploaded_at], [is_deleted]) VALUES (1, N'Group1.docx', N'group1_saved.docx', N'STUDENT_SUBMISSION', N'E:/SLIIT_Bacholer/_2_Year_sem2/IT_Project/Structal_Q-platform/storage/students/Group 1.docx', N'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 102400, N'hash123', 1, CAST(N'2026-03-26T14:51:20.770' AS DateTime), 0)
INSERT [dbo].[file_storage] ([file_id], [original_file_name], [stored_file_name], [storage_category], [storage_path], [mime_type], [file_size_bytes], [sha256_hash], [upload_user_id], [uploaded_at], [is_deleted]) VALUES (2, N'Guide.docx', N'guide_saved.docx', N'MARKING_GUIDE', N'E:/SLIIT_Bacholer/_2_Year_sem2/IT_Project/Structal_Q-platform/storage/lecturer/Lecture template.docx', N'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 204800, N'hash456', 1, CAST(N'2026-03-26T14:51:20.770' AS DateTime), 0)
INSERT [dbo].[file_storage] ([file_id], [original_file_name], [stored_file_name], [storage_category], [storage_path], [mime_type], [file_size_bytes], [sha256_hash], [upload_user_id], [uploaded_at], [is_deleted]) VALUES (8, N'test-guide.pdf', N'guide_1776352807422_255840628.pdf', N'MARKING_GUIDE', N'E:\SLIIT_Bacholer\_2_Year_sem2\IT_Project\Structal_Q-platform\backend\node-api\storage\guides\guide_1776352807422_255840628.pdf', N'application/pdf', 46, NULL, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[file_storage] OFF
GO
SET IDENTITY_INSERT [dbo].[final_mark] ON 

INSERT [dbo].[final_mark] ([id], [final_mark_id], [submission_id], [student_id], [ai_marks], [diagram_marks], [total_marks_awarded], [marking_status], [published_at], [published_by], [updated_at], [updated_by], [concern_window_open]) VALUES (6, N'FM-0006', 9, 2, CAST(6.19 AS Decimal(5, 2)), CAST(60.00 AS Decimal(5, 2)), CAST(33.10 AS Decimal(5, 2)), N'PUBLISHED', CAST(N'2026-04-21T15:36:59.020' AS DateTime), N'Jane Smith', CAST(N'2026-04-21T15:36:59.020' AS DateTime), N'Jane Smith', 1)
INSERT [dbo].[final_mark] ([id], [final_mark_id], [submission_id], [student_id], [ai_marks], [diagram_marks], [total_marks_awarded], [marking_status], [published_at], [published_by], [updated_at], [updated_by], [concern_window_open]) VALUES (7, N'FM-0007', 2, 1, CAST(38.53 AS Decimal(5, 2)), CAST(50.00 AS Decimal(5, 2)), CAST(44.27 AS Decimal(5, 2)), N'PUBLISHED', CAST(N'2026-04-21T15:36:59.103' AS DateTime), N'Jane Smith', CAST(N'2026-04-21T15:36:59.103' AS DateTime), N'Jane Smith', 1)
INSERT [dbo].[final_mark] ([id], [final_mark_id], [submission_id], [student_id], [ai_marks], [diagram_marks], [total_marks_awarded], [marking_status], [published_at], [published_by], [updated_at], [updated_by], [concern_window_open]) VALUES (8, N'FM-0008', 3, 2, CAST(100.00 AS Decimal(5, 2)), CAST(80.00 AS Decimal(5, 2)), CAST(90.00 AS Decimal(5, 2)), N'PUBLISHED', CAST(N'2026-04-21T15:36:59.193' AS DateTime), N'Jane Smith', CAST(N'2026-04-21T15:36:59.193' AS DateTime), N'Jane Smith', 1)
SET IDENTITY_INSERT [dbo].[final_mark] OFF
GO
SET IDENTITY_INSERT [dbo].[guide_question] ON 

INSERT [dbo].[guide_question] ([question_id], [marking_guide_id], [question_no], [question_text], [max_marks], [model_answer_text], [keyword_weight], [semantic_weight], [created_at], [updated_at]) VALUES (1, 1, 1, N'Requirements Engineering', CAST(15.00 AS Decimal(10, 2)), N'Model answer A', CAST(0.5000 AS Decimal(10, 4)), CAST(0.5000 AS Decimal(10, 4)), NULL, NULL)
INSERT [dbo].[guide_question] ([question_id], [marking_guide_id], [question_no], [question_text], [max_marks], [model_answer_text], [keyword_weight], [semantic_weight], [created_at], [updated_at]) VALUES (2, 1, 2, N'System Design', CAST(45.00 AS Decimal(10, 2)), N'Model answer B', CAST(0.5000 AS Decimal(10, 4)), CAST(0.5000 AS Decimal(10, 4)), NULL, NULL)
INSERT [dbo].[guide_question] ([question_id], [marking_guide_id], [question_no], [question_text], [max_marks], [model_answer_text], [keyword_weight], [semantic_weight], [created_at], [updated_at]) VALUES (3, 1, 3, N'Implementation & CRUD', CAST(20.00 AS Decimal(10, 2)), N'Model answer C', CAST(0.5000 AS Decimal(10, 4)), CAST(0.5000 AS Decimal(10, 4)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[guide_question] OFF
GO
SET IDENTITY_INSERT [dbo].[guide_rubric_item] ON 

INSERT [dbo].[guide_rubric_item] ([rubric_item_id], [marking_guide_id], [criterion_name], [description], [max_marks], [weight], [created_at], [updated_at]) VALUES (1, 1, N'Structure Quality', N'Evaluates structure and organization', CAST(10.00 AS Decimal(10, 2)), CAST(0.3000 AS Decimal(10, 4)), CAST(N'2026-04-01T13:54:10.090' AS DateTime), NULL)
INSERT [dbo].[guide_rubric_item] ([rubric_item_id], [marking_guide_id], [criterion_name], [description], [max_marks], [weight], [created_at], [updated_at]) VALUES (2, 1, N'Content Quality', N'Evaluates semantic correctness', CAST(10.00 AS Decimal(10, 2)), CAST(0.4000 AS Decimal(10, 4)), CAST(N'2026-04-01T13:54:10.090' AS DateTime), NULL)
INSERT [dbo].[guide_rubric_item] ([rubric_item_id], [marking_guide_id], [criterion_name], [description], [max_marks], [weight], [created_at], [updated_at]) VALUES (3, 1, N'Diagram Quality', N'Evaluates diagrams', CAST(10.00 AS Decimal(10, 2)), CAST(0.3000 AS Decimal(10, 4)), CAST(N'2026-04-01T13:54:10.090' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[guide_rubric_item] OFF
GO
SET IDENTITY_INSERT [dbo].[mark_alert] ON 

INSERT [dbo].[mark_alert] ([alert_id], [submission_id], [alert_type], [severity], [message], [acknowledged], [acknowledged_by], [created_at]) VALUES (1, 2, N'DEVIATION', N'HIGH', N'High deviation between AI and lecturer marks', NULL, NULL, CAST(N'2026-04-01T13:00:22.960' AS DateTime))
INSERT [dbo].[mark_alert] ([alert_id], [submission_id], [alert_type], [severity], [message], [acknowledged], [acknowledged_by], [created_at]) VALUES (2, 2, N'DEVIATION', N'HIGH', N'High deviation between AI and lecturer marks', NULL, NULL, CAST(N'2026-04-02T11:46:31.430' AS DateTime))
INSERT [dbo].[mark_alert] ([alert_id], [submission_id], [alert_type], [severity], [message], [acknowledged], [acknowledged_by], [created_at]) VALUES (3, 2, N'DEVIATION', N'HIGH', N'High deviation between AI and lecturer marks', NULL, NULL, CAST(N'2026-04-04T16:28:23.250' AS DateTime))
SET IDENTITY_INSERT [dbo].[mark_alert] OFF
GO
SET IDENTITY_INSERT [dbo].[mark_comparison] ON 

INSERT [dbo].[mark_comparison] ([comparison_id], [submission_id], [ai_score], [lecturer_score], [deviation], [deviation_percentage], [risk_level], [created_at], [is_anomaly]) VALUES (1, 2, CAST(15.00 AS Decimal(5, 2)), CAST(75.00 AS Decimal(5, 2)), CAST(60.00 AS Decimal(5, 2)), CAST(400.00 AS Decimal(5, 2)), N'HIGH', CAST(N'2026-04-01T12:19:10.123' AS DateTime), 0)
INSERT [dbo].[mark_comparison] ([comparison_id], [submission_id], [ai_score], [lecturer_score], [deviation], [deviation_percentage], [risk_level], [created_at], [is_anomaly]) VALUES (2, 2, CAST(64.00 AS Decimal(5, 2)), CAST(75.00 AS Decimal(5, 2)), CAST(11.00 AS Decimal(5, 2)), CAST(17.19 AS Decimal(5, 2)), N'MEDIUM', CAST(N'2026-04-01T12:51:59.343' AS DateTime), 0)
INSERT [dbo].[mark_comparison] ([comparison_id], [submission_id], [ai_score], [lecturer_score], [deviation], [deviation_percentage], [risk_level], [created_at], [is_anomaly]) VALUES (3, 2, CAST(64.00 AS Decimal(5, 2)), CAST(75.00 AS Decimal(5, 2)), CAST(11.00 AS Decimal(5, 2)), CAST(17.19 AS Decimal(5, 2)), N'MEDIUM', CAST(N'2026-04-01T13:03:45.280' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[mark_comparison] OFF
GO
SET IDENTITY_INSERT [dbo].[mark_concern] ON 

INSERT [dbo].[mark_concern] ([id], [concern_id], [student_id], [student_name], [student_email], [academic_year], [submission_id], [concern_message], [priority_level], [concern_status], [created_at], [last_modified], [revised_by], [revised_on], [lecturer_comment]) VALUES (1, N'CON-0001', 2, N'John Doe', N'john@gmail.com', N'', 8, N'hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh', N'Medium', N'Accepted', CAST(N'2026-04-21T15:50:37.837' AS DateTime), CAST(N'2026-04-21T15:50:37.837' AS DateTime), N'2', CAST(N'2026-04-21T15:51:24.913' AS DateTime), N'hhhhhhhhhhhhhhhhhhhhhh')
SET IDENTITY_INSERT [dbo].[mark_concern] OFF
GO
SET IDENTITY_INSERT [dbo].[marking_guide] ON 

INSERT [dbo].[marking_guide] ([marking_guide_id], [assessment_id], [version_no], [title], [description], [order_sensitive], [requires_diagram_check], [diagram_types_expected], [created_by], [created_at], [updated_at], [status], [file_id]) VALUES (1, 3, 1, N'SE Guide', N'Software Engineering Guide', 0, 0, NULL, 1, CAST(N'2026-03-26T14:57:47.157' AS DateTime), NULL, N'ACTIVE', 2)
INSERT [dbo].[marking_guide] ([marking_guide_id], [assessment_id], [version_no], [title], [description], [order_sensitive], [requires_diagram_check], [diagram_types_expected], [created_by], [created_at], [updated_at], [status], [file_id]) VALUES (2, 3, 1, N'Upload Test Guide', N'Upload test', 0, 1, N'["ER","UML","DFD"]', 3, CAST(N'2026-04-16T20:50:08.823' AS DateTime), CAST(N'2026-04-17T00:43:12.940' AS DateTime), N'INACTIVE', 8)
INSERT [dbo].[marking_guide] ([marking_guide_id], [assessment_id], [version_no], [title], [description], [order_sensitive], [requires_diagram_check], [diagram_types_expected], [created_by], [created_at], [updated_at], [status], [file_id]) VALUES (3, 3, 2, N'Upload Test Guide', N'Upload test v2', 0, 1, N'["ER","UML","DFD"]', 3, CAST(N'2026-04-16T20:52:38.757' AS DateTime), CAST(N'2026-04-17T00:43:00.140' AS DateTime), N'INACTIVE', 9)
SET IDENTITY_INSERT [dbo].[marking_guide] OFF
GO
SET IDENTITY_INSERT [dbo].[notification] ON 

INSERT [dbo].[notification] ([notification_id], [user_id], [title], [message], [type], [is_read], [created_at]) VALUES (1, 2, N'Exam timetable published', N'The exam timetable "Mid examination" has been published. Open Timetable to view sessions.', N'EXAM_TIMETABLE_PUBLISHED', 1, CAST(N'2026-04-21T07:28:49.6327397' AS DateTime2))
INSERT [dbo].[notification] ([notification_id], [user_id], [title], [message], [type], [is_read], [created_at]) VALUES (2, 2, N'Exam timetable published', N'The exam timetable "Mid Semester Exam" has been published. Open Timetable to view sessions.', N'EXAM_TIMETABLE_PUBLISHED', 1, CAST(N'2026-04-21T08:00:43.5484095' AS DateTime2))
INSERT [dbo].[notification] ([notification_id], [user_id], [title], [message], [type], [is_read], [created_at]) VALUES (3, 2, N'Exam timetable published', N'The exam timetable "MID - 2025/2026 - First Semester - software engineer" has been published. Open Timetable to view sessions.', N'EXAM_TIMETABLE_PUBLISHED', 1, CAST(N'2026-04-21T08:17:27.3993661' AS DateTime2))
SET IDENTITY_INSERT [dbo].[notification] OFF
GO
SET IDENTITY_INSERT [dbo].[ocr_page_result] ON 

INSERT [dbo].[ocr_page_result] ([ocr_id], [analysis_result_id], [page_no], [ocr_text], [ocr_confidence], [has_diagram], [created_at]) VALUES (2, 88, 5, N'Registration / Login Enable Registered Clients View Clients Style & Fabric Selected Admin View Client Measurements Client (User) (User) J View Order Types 1 Select Style and Fabric Fr Enter customized measurement Place Order View Order / Delivery Status', CAST(89.4100 AS Decimal(10, 4)), 1, CAST(N'2026-04-16T18:33:15.933' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ocr_page_result] OFF
GO
SET IDENTITY_INSERT [dbo].[subject] ON 

INSERT [dbo].[subject] ([subject_id], [subject_code], [subject_name], [credit_value], [department], [status], [created_at], [updated_at]) VALUES (1, N'SE101', N'Software Engineering', 3, N'IT', N'ACTIVE', CAST(N'2026-03-26T12:55:55.403' AS DateTime), NULL)
INSERT [dbo].[subject] ([subject_id], [subject_code], [subject_name], [credit_value], [department], [status], [created_at], [updated_at]) VALUES (2, N'SE103', N'SE103', NULL, NULL, N'ACTIVE', CAST(N'2026-04-21T14:47:11.083' AS DateTime), CAST(N'2026-04-21T14:47:11.083' AS DateTime))
INSERT [dbo].[subject] ([subject_id], [subject_code], [subject_name], [credit_value], [department], [status], [created_at], [updated_at]) VALUES (3, N'IT1150', N'AIML', 4, N'FOC', N'ACTIVE', CAST(N'2026-04-21T15:13:42.610' AS DateTime), CAST(N'2026-04-21T15:13:42.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[subject] OFF
GO
SET IDENTITY_INSERT [dbo].[subject_offering] ON 

INSERT [dbo].[subject_offering] ([offering_id], [subject_id], [academic_year], [semester], [intake_name], [is_active], [created_at], [updated_at]) VALUES (1, 1, N'2026', N'Y2S2', N'IT', 1, CAST(N'2026-03-26T12:56:20.643' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[subject_offering] OFF
GO
SET IDENTITY_INSERT [dbo].[submission] ON 

INSERT [dbo].[submission] ([submission_id], [assessment_id], [student_id], [attempt_no], [submitted_at], [is_late], [late_minutes], [file_id], [integrity_hash], [submission_status], [created_at], [updated_at]) VALUES (2, 3, 1, 1, CAST(N'2026-03-26T14:57:11.680' AS DateTime), 0, 0, 1, N'hash123', N'SUBMITTED', CAST(N'2026-03-26T14:57:11.680' AS DateTime), NULL)
INSERT [dbo].[submission] ([submission_id], [assessment_id], [student_id], [attempt_no], [submitted_at], [is_late], [late_minutes], [file_id], [integrity_hash], [submission_status], [created_at], [updated_at]) VALUES (3, 3, 1, 1, CAST(N'2026-04-01T20:47:16.550' AS DateTime), 0, 0, 2, N'hash1234', N'SUBMITTED', CAST(N'2026-04-01T20:47:16.550' AS DateTime), NULL)
INSERT [dbo].[submission] ([submission_id], [assessment_id], [student_id], [attempt_no], [submitted_at], [is_late], [late_minutes], [file_id], [integrity_hash], [submission_status], [created_at], [updated_at]) VALUES (8, 3, 2, 1, NULL, 1, 22319, 11, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[submission] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [first_name], [last_name], [email], [password_hash], [role], [registration_no], [program_id], [status], [created_at], [updated_at], [last_login_at]) VALUES (1, N'Admin', N'User', N'admin@test.com', N'123456', N'ADMIN', NULL, NULL, N'ACTIVE', CAST(N'2026-03-26T13:00:04.257' AS DateTime), NULL, NULL)
INSERT [dbo].[users] ([user_id], [first_name], [last_name], [email], [password_hash], [role], [registration_no], [program_id], [status], [created_at], [updated_at], [last_login_at]) VALUES (2, N'John', N'Doe', N'john@gmail.com', N'123456', N'STUDENT', N'IT2023002', 1, N'ACTIVE', NULL, NULL, NULL)
INSERT [dbo].[users] ([user_id], [first_name], [last_name], [email], [password_hash], [role], [registration_no], [program_id], [status], [created_at], [updated_at], [last_login_at]) VALUES (3, N'Jane', N'Smith', N'jane@gmail.com', N'123456', N'LECTURER', NULL, NULL, N'ACTIVE', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__final_ma__82E76C443E0FF49C]    Script Date: 4/24/2026 9:02:07 AM ******/
ALTER TABLE [dbo].[final_mark] ADD UNIQUE NONCLUSTERED 
(
	[final_mark_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__mark_con__A4E02C6B45884013]    Script Date: 4/24/2026 9:02:07 AM ******/
ALTER TABLE [dbo].[mark_concern] ADD UNIQUE NONCLUSTERED 
(
	[concern_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_notification_user_unread]    Script Date: 4/24/2026 9:02:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_notification_user_unread] ON [dbo].[notification]
(
	[user_id] ASC,
	[is_read] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_student_group_assessment]    Script Date: 4/24/2026 9:02:07 AM ******/
ALTER TABLE [dbo].[student_group] ADD  CONSTRAINT [UQ_student_group_assessment] UNIQUE NONCLUSTERED 
(
	[assessment_id] ASC,
	[group_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__AB6E616432BECEC5]    Script Date: 4/24/2026 9:02:08 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[assessment] ADD  DEFAULT ((0)) FOR [concern_window_open]
GO
ALTER TABLE [dbo].[evaluated_results] ADD  DEFAULT ((0.00)) FOR [ai_marks]
GO
ALTER TABLE [dbo].[evaluated_results] ADD  DEFAULT ((0.00)) FOR [diagram_marks]
GO
ALTER TABLE [dbo].[evaluated_results] ADD  DEFAULT ((0.00)) FOR [final_mark]
GO
ALTER TABLE [dbo].[final_mark] ADD  DEFAULT ((0.00)) FOR [ai_marks]
GO
ALTER TABLE [dbo].[final_mark] ADD  DEFAULT ((0.00)) FOR [diagram_marks]
GO
ALTER TABLE [dbo].[final_mark] ADD  DEFAULT ((0.00)) FOR [total_marks_awarded]
GO
ALTER TABLE [dbo].[final_mark] ADD  DEFAULT ('DRAFT') FOR [marking_status]
GO
ALTER TABLE [dbo].[final_mark] ADD  DEFAULT (getdate()) FOR [published_at]
GO
ALTER TABLE [dbo].[final_mark] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[final_mark] ADD  DEFAULT ((1)) FOR [concern_window_open]
GO
ALTER TABLE [dbo].[mark_comparison] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mark_comparison] ADD  DEFAULT ((0)) FOR [is_anomaly]
GO
ALTER TABLE [dbo].[mark_concern] ADD  DEFAULT ('Low') FOR [priority_level]
GO
ALTER TABLE [dbo].[mark_concern] ADD  DEFAULT ('Pending') FOR [concern_status]
GO
ALTER TABLE [dbo].[mark_concern] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mark_concern] ADD  DEFAULT (getdate()) FOR [last_modified]
GO
ALTER TABLE [dbo].[mark_revision_log] ADD  DEFAULT (getdate()) FOR [revised_at]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_group] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ai_question_score]  WITH CHECK ADD  CONSTRAINT [FK_ai_question_score_analysis_result] FOREIGN KEY([analysis_result_id])
REFERENCES [dbo].[analysis_result] ([analysis_result_id])
GO
ALTER TABLE [dbo].[ai_question_score] CHECK CONSTRAINT [FK_ai_question_score_analysis_result]
GO
ALTER TABLE [dbo].[ai_question_score]  WITH CHECK ADD  CONSTRAINT [FK_ai_question_score_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[guide_question] ([question_id])
GO
ALTER TABLE [dbo].[ai_question_score] CHECK CONSTRAINT [FK_ai_question_score_question]
GO
ALTER TABLE [dbo].[ai_rubric_score]  WITH CHECK ADD  CONSTRAINT [FK_ai_rubric_score_analysis_result] FOREIGN KEY([analysis_result_id])
REFERENCES [dbo].[analysis_result] ([analysis_result_id])
GO
ALTER TABLE [dbo].[ai_rubric_score] CHECK CONSTRAINT [FK_ai_rubric_score_analysis_result]
GO
ALTER TABLE [dbo].[ai_rubric_score]  WITH CHECK ADD  CONSTRAINT [FK_ai_rubric_score_rubric_item] FOREIGN KEY([rubric_item_id])
REFERENCES [dbo].[guide_rubric_item] ([rubric_item_id])
GO
ALTER TABLE [dbo].[ai_rubric_score] CHECK CONSTRAINT [FK_ai_rubric_score_rubric_item]
GO
ALTER TABLE [dbo].[analysis_result]  WITH CHECK ADD  CONSTRAINT [FK_analysis_result_marking_guide] FOREIGN KEY([marking_guide_id])
REFERENCES [dbo].[marking_guide] ([marking_guide_id])
GO
ALTER TABLE [dbo].[analysis_result] CHECK CONSTRAINT [FK_analysis_result_marking_guide]
GO
ALTER TABLE [dbo].[analysis_result]  WITH CHECK ADD  CONSTRAINT [FK_analysis_result_submission] FOREIGN KEY([submission_id])
REFERENCES [dbo].[submission] ([submission_id])
GO
ALTER TABLE [dbo].[analysis_result] CHECK CONSTRAINT [FK_analysis_result_submission]
GO
ALTER TABLE [dbo].[analysis_similarity_detail]  WITH CHECK ADD  CONSTRAINT [FK_similarity_detail_analysis_result] FOREIGN KEY([analysis_result_id])
REFERENCES [dbo].[analysis_result] ([analysis_result_id])
GO
ALTER TABLE [dbo].[analysis_similarity_detail] CHECK CONSTRAINT [FK_similarity_detail_analysis_result]
GO
ALTER TABLE [dbo].[analysis_similarity_detail]  WITH CHECK ADD  CONSTRAINT [FK_similarity_detail_compared_submission] FOREIGN KEY([compared_submission_id])
REFERENCES [dbo].[submission] ([submission_id])
GO
ALTER TABLE [dbo].[analysis_similarity_detail] CHECK CONSTRAINT [FK_similarity_detail_compared_submission]
GO
ALTER TABLE [dbo].[assessment]  WITH CHECK ADD  CONSTRAINT [FK_assessment_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[assessment] CHECK CONSTRAINT [FK_assessment_created_by]
GO
ALTER TABLE [dbo].[assessment]  WITH CHECK ADD  CONSTRAINT [FK_assessment_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[subject_offering] ([offering_id])
GO
ALTER TABLE [dbo].[assessment] CHECK CONSTRAINT [FK_assessment_offering]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD  CONSTRAINT [FK_audit_log_actor] FOREIGN KEY([actor_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[audit_log] CHECK CONSTRAINT [FK_audit_log_actor]
GO
ALTER TABLE [dbo].[concern_window]  WITH CHECK ADD  CONSTRAINT [FK_concern_window_assessment] FOREIGN KEY([assessment_id])
REFERENCES [dbo].[assessment] ([assessment_id])
GO
ALTER TABLE [dbo].[concern_window] CHECK CONSTRAINT [FK_concern_window_assessment]
GO
ALTER TABLE [dbo].[concern_window]  WITH CHECK ADD  CONSTRAINT [FK_concern_window_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[concern_window] CHECK CONSTRAINT [FK_concern_window_created_by]
GO
ALTER TABLE [dbo].[diagram_check_result]  WITH CHECK ADD  CONSTRAINT [FK_diagram_check_result_analysis_result] FOREIGN KEY([analysis_result_id])
REFERENCES [dbo].[analysis_result] ([analysis_result_id])
GO
ALTER TABLE [dbo].[diagram_check_result] CHECK CONSTRAINT [FK_diagram_check_result_analysis_result]
GO
ALTER TABLE [dbo].[evaluation_conflict_log]  WITH CHECK ADD  CONSTRAINT [FK_evaluation_conflict_log_resolved_by] FOREIGN KEY([resolved_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[evaluation_conflict_log] CHECK CONSTRAINT [FK_evaluation_conflict_log_resolved_by]
GO
ALTER TABLE [dbo].[evaluation_conflict_log]  WITH CHECK ADD  CONSTRAINT [FK_evaluation_conflict_log_schedule] FOREIGN KEY([evaluation_schedule_id])
REFERENCES [dbo].[evaluation_schedule] ([evaluation_schedule_id])
GO
ALTER TABLE [dbo].[evaluation_conflict_log] CHECK CONSTRAINT [FK_evaluation_conflict_log_schedule]
GO
ALTER TABLE [dbo].[evaluation_email_log]  WITH CHECK ADD  CONSTRAINT [FK_evaluation_email_log_recipient] FOREIGN KEY([recipient_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[evaluation_email_log] CHECK CONSTRAINT [FK_evaluation_email_log_recipient]
GO
ALTER TABLE [dbo].[evaluation_email_log]  WITH CHECK ADD  CONSTRAINT [FK_evaluation_email_log_schedule] FOREIGN KEY([evaluation_schedule_id])
REFERENCES [dbo].[evaluation_schedule] ([evaluation_schedule_id])
GO
ALTER TABLE [dbo].[evaluation_email_log] CHECK CONSTRAINT [FK_evaluation_email_log_schedule]
GO
ALTER TABLE [dbo].[evaluation_group_assignment]  WITH CHECK ADD  CONSTRAINT [FK_evaluation_group_assignment_assigned_by] FOREIGN KEY([assigned_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[evaluation_group_assignment] CHECK CONSTRAINT [FK_evaluation_group_assignment_assigned_by]
GO
ALTER TABLE [dbo].[evaluation_group_assignment]  WITH CHECK ADD  CONSTRAINT [FK_evaluation_group_assignment_slot] FOREIGN KEY([evaluation_slot_id])
REFERENCES [dbo].[evaluation_slot] ([evaluation_slot_id])
GO
ALTER TABLE [dbo].[evaluation_group_assignment] CHECK CONSTRAINT [FK_evaluation_group_assignment_slot]
GO
ALTER TABLE [dbo].[evaluation_schedule]  WITH CHECK ADD  CONSTRAINT [FK_evaluation_schedule_assessment] FOREIGN KEY([assessment_id])
REFERENCES [dbo].[assessment] ([assessment_id])
GO
ALTER TABLE [dbo].[evaluation_schedule] CHECK CONSTRAINT [FK_evaluation_schedule_assessment]
GO
ALTER TABLE [dbo].[evaluation_schedule]  WITH CHECK ADD  CONSTRAINT [FK_evaluation_schedule_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[evaluation_schedule] CHECK CONSTRAINT [FK_evaluation_schedule_created_by]
GO
ALTER TABLE [dbo].[evaluation_schedule]  WITH CHECK ADD  CONSTRAINT [FK_evaluation_schedule_location] FOREIGN KEY([location_id])
REFERENCES [dbo].[evaluation_location] ([location_id])
GO
ALTER TABLE [dbo].[evaluation_schedule] CHECK CONSTRAINT [FK_evaluation_schedule_location]
GO
ALTER TABLE [dbo].[evaluation_schedule]  WITH CHECK ADD  CONSTRAINT [FK_evaluation_schedule_published_by] FOREIGN KEY([published_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[evaluation_schedule] CHECK CONSTRAINT [FK_evaluation_schedule_published_by]
GO
ALTER TABLE [dbo].[evaluation_slot]  WITH CHECK ADD  CONSTRAINT [FK_evaluation_slot_schedule] FOREIGN KEY([evaluation_schedule_id])
REFERENCES [dbo].[evaluation_schedule] ([evaluation_schedule_id])
GO
ALTER TABLE [dbo].[evaluation_slot] CHECK CONSTRAINT [FK_evaluation_slot_schedule]
GO
ALTER TABLE [dbo].[exam_capacity_tracking]  WITH CHECK ADD  CONSTRAINT [FK_exam_capacity_tracking_room] FOREIGN KEY([room_id])
REFERENCES [dbo].[exam_room] ([room_id])
GO
ALTER TABLE [dbo].[exam_capacity_tracking] CHECK CONSTRAINT [FK_exam_capacity_tracking_room]
GO
ALTER TABLE [dbo].[exam_capacity_tracking]  WITH CHECK ADD  CONSTRAINT [FK_exam_capacity_tracking_session] FOREIGN KEY([exam_session_id])
REFERENCES [dbo].[exam_session] ([exam_session_id])
GO
ALTER TABLE [dbo].[exam_capacity_tracking] CHECK CONSTRAINT [FK_exam_capacity_tracking_session]
GO
ALTER TABLE [dbo].[exam_conflict_log]  WITH CHECK ADD  CONSTRAINT [FK_exam_conflict_log_resolved_by] FOREIGN KEY([resolved_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[exam_conflict_log] CHECK CONSTRAINT [FK_exam_conflict_log_resolved_by]
GO
ALTER TABLE [dbo].[exam_conflict_log]  WITH CHECK ADD  CONSTRAINT [FK_exam_conflict_log_session] FOREIGN KEY([exam_session_id])
REFERENCES [dbo].[exam_session] ([exam_session_id])
GO
ALTER TABLE [dbo].[exam_conflict_log] CHECK CONSTRAINT [FK_exam_conflict_log_session]
GO
ALTER TABLE [dbo].[exam_notification_log]  WITH CHECK ADD  CONSTRAINT [FK_exam_notification_log_session] FOREIGN KEY([exam_session_id])
REFERENCES [dbo].[exam_session] ([exam_session_id])
GO
ALTER TABLE [dbo].[exam_notification_log] CHECK CONSTRAINT [FK_exam_notification_log_session]
GO
ALTER TABLE [dbo].[exam_notification_log]  WITH CHECK ADD  CONSTRAINT [FK_exam_notification_log_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[exam_notification_log] CHECK CONSTRAINT [FK_exam_notification_log_user]
GO
ALTER TABLE [dbo].[exam_session]  WITH CHECK ADD  CONSTRAINT [FK_exam_session_room] FOREIGN KEY([room_id])
REFERENCES [dbo].[exam_room] ([room_id])
GO
ALTER TABLE [dbo].[exam_session] CHECK CONSTRAINT [FK_exam_session_room]
GO
ALTER TABLE [dbo].[exam_session]  WITH CHECK ADD  CONSTRAINT [FK_exam_session_subject] FOREIGN KEY([subject_id])
REFERENCES [dbo].[subject] ([subject_id])
GO
ALTER TABLE [dbo].[exam_session] CHECK CONSTRAINT [FK_exam_session_subject]
GO
ALTER TABLE [dbo].[exam_session]  WITH CHECK ADD  CONSTRAINT [FK_exam_session_timetable] FOREIGN KEY([exam_timetable_id])
REFERENCES [dbo].[exam_timetable] ([exam_timetable_id])
GO
ALTER TABLE [dbo].[exam_session] CHECK CONSTRAINT [FK_exam_session_timetable]
GO
ALTER TABLE [dbo].[exam_timetable]  WITH CHECK ADD  CONSTRAINT [FK_exam_timetable_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[exam_timetable] CHECK CONSTRAINT [FK_exam_timetable_created_by]
GO
ALTER TABLE [dbo].[exam_timetable]  WITH CHECK ADD  CONSTRAINT [FK_exam_timetable_published_by] FOREIGN KEY([published_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[exam_timetable] CHECK CONSTRAINT [FK_exam_timetable_published_by]
GO
ALTER TABLE [dbo].[file_storage]  WITH CHECK ADD  CONSTRAINT [FK_file_storage_upload_user] FOREIGN KEY([upload_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[file_storage] CHECK CONSTRAINT [FK_file_storage_upload_user]
GO
ALTER TABLE [dbo].[group_member]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[student_group] ([group_id])
GO
ALTER TABLE [dbo].[group_member]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[guide_question]  WITH CHECK ADD  CONSTRAINT [FK_guide_question_marking_guide] FOREIGN KEY([marking_guide_id])
REFERENCES [dbo].[marking_guide] ([marking_guide_id])
GO
ALTER TABLE [dbo].[guide_question] CHECK CONSTRAINT [FK_guide_question_marking_guide]
GO
ALTER TABLE [dbo].[guide_rubric_item]  WITH CHECK ADD  CONSTRAINT [FK_guide_rubric_item_marking_guide] FOREIGN KEY([marking_guide_id])
REFERENCES [dbo].[marking_guide] ([marking_guide_id])
GO
ALTER TABLE [dbo].[guide_rubric_item] CHECK CONSTRAINT [FK_guide_rubric_item_marking_guide]
GO
ALTER TABLE [dbo].[guide_section_rule]  WITH CHECK ADD  CONSTRAINT [FK_guide_section_rule_marking_guide] FOREIGN KEY([marking_guide_id])
REFERENCES [dbo].[marking_guide] ([marking_guide_id])
GO
ALTER TABLE [dbo].[guide_section_rule] CHECK CONSTRAINT [FK_guide_section_rule_marking_guide]
GO
ALTER TABLE [dbo].[mark_alert]  WITH CHECK ADD  CONSTRAINT [FK_mark_alert_ack_by] FOREIGN KEY([acknowledged_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[mark_alert] CHECK CONSTRAINT [FK_mark_alert_ack_by]
GO
ALTER TABLE [dbo].[mark_alert]  WITH CHECK ADD  CONSTRAINT [FK_mark_alert_submission] FOREIGN KEY([submission_id])
REFERENCES [dbo].[submission] ([submission_id])
GO
ALTER TABLE [dbo].[mark_alert] CHECK CONSTRAINT [FK_mark_alert_submission]
GO
ALTER TABLE [dbo].[marking_guide]  WITH CHECK ADD  CONSTRAINT [FK_marking_guide_assessment] FOREIGN KEY([assessment_id])
REFERENCES [dbo].[assessment] ([assessment_id])
GO
ALTER TABLE [dbo].[marking_guide] CHECK CONSTRAINT [FK_marking_guide_assessment]
GO
ALTER TABLE [dbo].[marking_guide]  WITH CHECK ADD  CONSTRAINT [FK_marking_guide_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[marking_guide] CHECK CONSTRAINT [FK_marking_guide_created_by]
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD  CONSTRAINT [FK_notification_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notification] CHECK CONSTRAINT [FK_notification_user]
GO
ALTER TABLE [dbo].[ocr_page_result]  WITH CHECK ADD  CONSTRAINT [FK_ocr_page_result_analysis_result] FOREIGN KEY([analysis_result_id])
REFERENCES [dbo].[analysis_result] ([analysis_result_id])
GO
ALTER TABLE [dbo].[ocr_page_result] CHECK CONSTRAINT [FK_ocr_page_result_analysis_result]
GO
ALTER TABLE [dbo].[question_keyword]  WITH CHECK ADD  CONSTRAINT [FK_question_keyword_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[guide_question] ([question_id])
GO
ALTER TABLE [dbo].[question_keyword] CHECK CONSTRAINT [FK_question_keyword_question]
GO
ALTER TABLE [dbo].[student_group]  WITH CHECK ADD FOREIGN KEY([assessment_id])
REFERENCES [dbo].[assessment] ([assessment_id])
GO
ALTER TABLE [dbo].[subject_offering]  WITH CHECK ADD  CONSTRAINT [FK_subject_offering_subject] FOREIGN KEY([subject_id])
REFERENCES [dbo].[subject] ([subject_id])
GO
ALTER TABLE [dbo].[subject_offering] CHECK CONSTRAINT [FK_subject_offering_subject]
GO
ALTER TABLE [dbo].[submission]  WITH CHECK ADD  CONSTRAINT [FK_submission_assessment] FOREIGN KEY([assessment_id])
REFERENCES [dbo].[assessment] ([assessment_id])
GO
ALTER TABLE [dbo].[submission] CHECK CONSTRAINT [FK_submission_assessment]
GO
ALTER TABLE [dbo].[submission]  WITH CHECK ADD  CONSTRAINT [FK_submission_file] FOREIGN KEY([file_id])
REFERENCES [dbo].[file_storage] ([file_id])
GO
ALTER TABLE [dbo].[submission] CHECK CONSTRAINT [FK_submission_file]
GO
ALTER TABLE [dbo].[submission]  WITH CHECK ADD  CONSTRAINT [FK_submission_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[submission] CHECK CONSTRAINT [FK_submission_student]
GO
ALTER TABLE [dbo].[final_mark]  WITH CHECK ADD CHECK  (([marking_status]='PUBLISHED' OR [marking_status]='VALIDATED' OR [marking_status]='DRAFT'))
GO
ALTER TABLE [dbo].[mark_concern]  WITH CHECK ADD CHECK  (([concern_status]='Revised' OR [concern_status]='Rejected' OR [concern_status]='Accepted' OR [concern_status]='Pending'))
GO
ALTER TABLE [dbo].[mark_concern]  WITH CHECK ADD CHECK  (([priority_level]='High' OR [priority_level]='Medium' OR [priority_level]='Low'))
GO
USE [master]
GO
